<div class="topic">
	<table class="title">
	<tr>
		<td class="leftTitle"><h2><%= @topic.title %></h2></td>
		<% if @topic.user == current_user %>
		<td class="rightTitle">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Edit">
					Edit
				</button>

			  	<%= render 'delete' %>
			</div>
		</td>
		<%= render 'edit' %>
		<% end %>
	</tr>
	</table>
	<div class="">
		<%= image_tag @topic.image.url(:full),:class => "image" %> 
	</div>
	<ul class="infoTopic">
		<li><a href="">View <span class="badge"><%= @topic.view %></span></a></li>	
		<li><a href="">Like <span class="badge"><%= @topic.like %></span></a></li>
		<li><a href="">Comment <span class="badge"><%= @topic.comment %></span></a></li>
	</ul>
</div>
<hr>