<div class="topic">
	<table class="title">
	<tr>
		<td class="leftTitle"><h2><%= @topic.title %></h2></td>
		<td class="rightTitle">
			<div class="btn-group" role="group" aria-label="...">

				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Edit">
					Edit
				</button>

			  	<%= render 'delete' %>
			  	
			</div>
		</td>
		<%= render 'edit' %>
	</tr>
	</table>
	<div class="">
		<a href="<%= @topic.image.url(:full) %>" data-lightbox="mainImage">
			<%= image_tag @topic.image.url(:full),:class => "image" %> 
		</a>
	</div>
	<ul class="infoTopic">
		<li><a href="">View <span class="badge"><%= @topic.view %></span></a></li>	
		<li><a href="">Like <span class="badge"><%= @topic.like %></span></a></li>
		<li><a href="">Comment <span class="badge"><%= @topic.comment %></span></a></li>
	</ul>
</div>
<hr>