<div class="col-md-3">
	<div class="text-center">
		<%= image_tag @user.avatar.url(:full),:class => "img-thumbnail avatar" %> <br>
		<h3><%= @user.name %></h3>
		<div>
			<table class="table">
				<tr>
					<th>Post</th>
					<th>Comment</th>
					<th>View</th>
				</tr>
				<tr>
					<th><%= @user.topics.count %></th>
					<th><%= @user.comments_count %></th>
					<th><%= @user.topics.sum("view") %></th>
				</tr>
			</table>

		</div>
	</div>
</div>
<div class="col-md-9">
	<h1>My topics</h1>
	<% topic = @user.topics.all.paginate(:page => params[:page], per_page: 6).order('created_at DESC') %>
	<%= will_paginate topic %>
	<div class="row">  
	  <% topic.each do |t| %>
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <%= image_tag t.image.url(:thumb), class: "img-rounded" %>
	      <div class="caption">
	        <h4><a href="<%= topic_path(t) %>"><%= t.title %></a></h4>
	      </div>
	    </div>
	  </div>
	  <% end %>
	</div>
</div>
