<!DOCTYPE html>
<html>
<head>
  <title><%= @title or "LolApp"%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="main">
	<header>
		<%= render '/layouts/narbar' %>
		<% yield :header %>
	</header>
	<div class="container-fluid" id="content">
		<%= content_for?(:content) ? yield(:content) : yield %>
	</div>
	</div>
	<%= debug(params) if Rails.env.development? %>
	 <footer>
	 <p>Copyright© 2015 By NPA's Cop</p>
	 </footer>
	 
</body>
</html>
